/* GENERAL RULES */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --tbl_lgray: #f6f8f9;
    --tbl_white: white;
    --tbl_checkgreen: #6fc6b2;
    --tbl_crossred: #eb5a54;
    --tbl_azure: #47adf1;
    --tbl_editorial: #45abe9;
    --tbl_btngrey: #c5cbd0;
    --tbl_goals: #9c72e4;
    --tbl_recruit: #64c0a9;
    --tbl_mobile: #f29e33;
    --tbl_website: #d863a0;
    --tbl_sales: #b0c926;
}

body {
    font-family: 'Mulish', sans-serif;
}

.btn_add {
    display: inline-block;
    border-radius: 5px;
    text-align: center;
    padding: 0.5rem;
    font-size: small;
    font-weight: lighter;
    margin-right: 0.5rem;
    border: none;
}

.check {
    color: var(--tbl_checkgreen);
    display: inline-block;
    border: 2px solid var(--tbl_checkgreen);
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    text-align: center;
}

.cross {
    color: var(--tbl_crossred);
    display: inline-block;
    border: 2px solid var(--tbl_crossred);
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    text-align: center;
}

.label {
    display: inline-block;
    border-radius: 14px;
    text-align: center;
    padding: 0.5rem;
    font-size: small;
    font-weight: lighter;
    color: var(--tbl_white);
}

/* LABEL BG COLORS */

.editorial {
    background-color: var(--tbl_editorial);
}

.goals {
    background-color: var(--tbl_goals);
}

.recruit {
    background-color: var(--tbl_recruit);
}

.mobile {
    background-color: var(--tbl_mobile);
}

.website {
    background-color: var(--tbl_website);
}

.sales {
    background-color: var(--tbl_sales);
}

/* HEADER AND LOGO */

.logo {
    padding: 0.5rem;
}

.logo img {
    vertical-align: middle;
}

.logo span {
    font-size: 2.5rem;
    vertical-align: middle;
    font-weight: 900;
}

/* MAIN CONTAINERS */

main {
    background-color: var(--tbl_lgray);
    padding: 3rem 0 1rem;
    min-height: 100vh;
}

.list_container {
    width: 80%;
    margin: auto;
    background-color: var(--tbl_white);
    border-radius: 10px;
    padding-bottom: 3rem;
}

/* NAVBAR MENU */
nav {
    border-bottom: 2px solid var(--tbl_lgray);
    padding: 0.5rem 3rem;
}


.btn_task {
    background-color: var(--tbl_azure);
    color: var(--tbl_white);
}

.btn_section {
    color: var(--tbl_btngrey);
    border: 2px solid var(--tbl_btngrey);
    background-color: var(--tbl_white);

}

/* LIST SECTIONS */

.lst_sec {
    padding: 0 3rem;
}

.lst_sec_title {
    font-weight: 900;
    margin-bottom: 1rem;
    margin-top: 3rem;
}

.lst_sec p {
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 1rem;
}